<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blocky Blogs</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <!-- https://fontawesome.com/ -->
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- https://fonts.google.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <link href="css/blog.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <% var username = user %> <%- include('partials/header', {page:1, user:
    username}) %>
    <div class="container-fluid">
      <main class="tm-main">
        <!-- articles -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1>Create post</h1>

              <form id="formId">
                <div class="form-group">
                  <label for="title"
                    >Title <span class="require">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    id="inputTitle"
                  />
                </div>

                <div class="form-group">
                  <label for="summary">Summary</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    name="summary"
                    id="inputSummary"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="desc">Description</label>
                  <textarea
                    rows="7"
                    class="form-control"
                    name="desc"
                    id="inputDesc"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="blogImage">Image</label><br />
                  <input
                    type="file"
                    name="blogImage"
                    id="inputImage"
                    accept="image/*"
                  />
                </div>

                <div class="form-group">
                  <p><span class="require">*</span> - required fields</p>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Create</button>
                  <button class="btn btn-default">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="js/createPost.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/blogscript.js"></script>
  </body>
</html>
